{% extends 'base.html.twig' %}

{% block title 'FDEV - Panier' %}

{% block body %}
    <div class="container">

        <h2>Panier</h2>
        <hr />

        <div  {{ react_component('CartController') }} > </div >


    <form id="cart_form_price" method="post" action="{{ path('app_checkout' ) }}" >
        <input type="hidden" name="_token" value="{{ csrf_token('payment') }}">
        <input id="order_price_input" type="hidden" name="_price" >
    </form>


    <div>
{% endblock %}