{% extends 'base.html.twig' %}

{% block title %}FDEV{% endblock %}

{% block body %}
    <div class="container">
        <h2>Produit du jour</h2>
        <div class="rand-product">
            <h3>{{ productsRand.name }}</h3>
            <p>{{ productsRand.description }}</p>
        </div>
        <div class="newProduct">
            <h2>Nouveaux produit</h2>
            <div class="lastest">
                {% for lastProducts in product %}
                    <div class="product">
                        <h3>{{ lastProducts.name }}</h3>
                        <a href="{{ path('oneProduct', {'id' : lastProducts.id }) }}" >En s'avoir plus</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
