@import 'vars';
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
}

.top-nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $color1;
  padding: 10px 0px;
  i{
    color: $color2;
    margin-right: 2px;
    &:nth-child(1){
      font-size: 14px;
    }
  }
  .adress{
    a{
      text-decoration: none;
      color: white;
      margin-left: 10px;
    }
  }
  .account{
    a{
      text-decoration: none;
      color: white;
    }

  }
}

.search-bar{

  background-color: $color3;
  border-bottom: 3px solid $color2;
  h1{
    color: white;
    font-size: 49px;
    margin: 18px;
    span{
      color: $color2;

    }
  }
  .middle{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 76%;
    margin: 0 auto;
  }
  .title{
    width: 20%;
    display: flex;
    justify-content: center;
  }
  .searchBar{
    display: flex;
    width: 60%;
    display: flex;
    justify-content: center;
    input{
      padding: 9px 15px;
      border: none;
      outline: none;
    }
    button{
      position: relative;
      left: -6px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      width: 60px;
      height: 100%;
      margin: 0;
      border: 1px solid $color2;
      background-color: $color2;
      cursor: pointer;
      i{
        color: white;
        transform: scale(1.3);
      }
    }
    #categ-select{
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      outline: none;
      border-top: none;
      border-bottom: none;
      border-left: none;
      cursor: pointer;
      option{
        font-weight: 600;
      }

    }
  }

  .panier{
    width: 20%;
    display: flex;
    justify-content: center;
    i{
      color: white;
      font-size: 24px;
    }
  }
}

nav{
  padding: 15px 2px;
  margin: 0 auto;
  border-bottom: 3px solid rgba(192,192,192, 0.70);
  ul{
    list-style: none;
    display: flex;
    margin: 0;
    width: 68%;
    margin: 0 auto;
    padding: 0;
    li{
      margin-right: 20px;
      a{
        text-decoration: none;
        font-weight: bold;
        color: $color3;
        &:hover{
          color: $color2;
          border-bottom: 2px solid $color2;
        }
      }
    }
  }
}

.container{
  width: 68%;
  margin: 0 auto;
  .newProduct{
    h2{
      margin-top: 50px;
    }
    .lastest{
      display: flex;
      justify-content: space-between;
      .product{
        border: 2px solid rgba(192,192,192, 0.70);
        height: 150px;
        padding: 2%;
        width: 15%;
        text-align: center;
      }
    }
  }
}