@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1D202B;
  padding: 10px 0px;
}
.top-nav i {
  color: #D11F25;
  margin-right: 2px;
}
.top-nav i:nth-child(1) {
  font-size: 14px;
}
.top-nav span {
  color: #D11F25;
}
.top-nav .adress a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
.top-nav .account a {
  text-decoration: none;
  color: white;
}

.search-bar {
  background-color: #15161C;
  border-bottom: 3px solid #D11F25;
}
.search-bar h1 {
  color: white;
  font-size: 49px;
  margin: 18px;
}
.search-bar h1 span {
  color: #D11F25;
}
.search-bar .middle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 76%;
  margin: 0 auto;
}
.search-bar .title {
  width: 20%;
  display: flex;
  justify-content: center;
}
.search-bar .searchBar {
  display: flex;
  width: 60%;
  display: flex;
  justify-content: center;
}
.search-bar .searchBar input {
  padding: 9px 15px;
  border: none;
  outline: none;
}
.search-bar .searchBar button {
  position: relative;
  left: -6px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 60px;
  height: 100%;
  margin: 0;
  border: 1px solid #D11F25;
  background-color: #D11F25;
  cursor: pointer;
}
.search-bar .searchBar button i {
  color: white;
  transform: scale(1.3);
}
.search-bar .searchBar button:hover > i {
  color: #1D202B;
}
.search-bar .searchBar #categ-select {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  border-top: none;
  border-bottom: none;
  border-left: none;
  cursor: pointer;
}
.search-bar .searchBar #categ-select option {
  font-weight: 600;
}
.search-bar .panier {
  width: 20%;
  display: flex;
  justify-content: center;
}
.search-bar .panier i {
  color: white;
  font-size: 24px;
}

nav {
  padding: 15px 2px;
  margin: 0 auto;
  border-bottom: 3px solid rgba(192, 192, 192, 0.7);
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  width: 68%;
  margin: 0 auto;
  padding: 0;
}
nav ul li {
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #15161C;
}
nav ul li a:hover {
  color: #D11F25;
  border-bottom: 2px solid #D11F25;
}

.container {
  width: 68%;
  margin: 0 auto;
}
.container .newProduct h2 {
  margin-top: 50px;
}
.container .newProduct .lastest {
  display: flex;
  justify-content: space-between;
}
.container .newProduct .lastest .product {
  border: 2px solid rgba(192, 192, 192, 0.7);
  height: 150px;
  padding: 2%;
  width: 19%;
  text-align: center;
}
.container .newProduct .lastest .product h3 {
  font-size: 19px;
}
.container .newProduct .lastest .product a {
  text-decoration: none;
  color: #D11F25;
}

.footer {
  width: 100%;
  background-color: rgba(192, 192, 192, 0.7);
  height: 288px;
  margin-top: 80px;
  border-top: 2px solid #1D202B;
}
.footer .footer-fdev {
  text-align: center;
  position: relative;
  left: 61px;
}
.footer .footer-fdev h4 {
  font-size: 55px;
  color: #1D202B;
  position: relative;
}
.footer .footer-fdev h4::after {
  position: absolute;
  content: "";
  width: 131px;
  height: 3px;
  background-color: #D11F25;
  bottom: 2px;
  left: 3%;
}
.footer .footer-fdev h4 span {
  color: #D11F25;
}
.footer .footer-fdev h5 {
  color: #1D202B;
}
.footer .footer-fdev p {
  margin-bottom: 5px;
}
.footer .footer-product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer .footer-product .mobile {
  transform: rotate(-20deg);
  position: relative;
  top: 14px;
  width: 205px;
  left: 57px;
}
.footer .footer-product .laptop {
  width: 18%;
}

/*# sourceMappingURL=home.css.map */
