{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {{ include('nav/_sidebar.html.twig') }}

    <div class="container-fluid">
        <div class="row">
            <div class="col min-vh-100 p-4">
                <!-- toggler -->
                <button class="btn float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                    <i class="bi bi-arrow-right-square-fill fs-3" data-bs-toggle="offcanvas"
                       data-bs-target="#offcanvas"></i>
                </button>

                <div id="admin-table"></div>
                <div {{ react_component('AdminTable', {'useCase' : "product"}) }}>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

