
{% block body %}
    <div></div>
    <div class="footer">
        <div class="footer-product">
            <img class="mobile" src="{{ asset('medias/phone.png') }}" alt="mobile">
            <div class="footer-fdev">
                <div class="title">
                    <h4>FDEV<span>.</span></h4>
                    <h5>L'ÉQUIPE</h5>
                    <p>Lucas</p>
                    <p>Pierre-richard</p>
                    <p>Steve</p>
                    <p>Lorenzo</p>
                </div>
            </div>
            <img class="laptop" src="{{ asset('medias/laptop.png') }}" alt="ordinateur">
        </div>
    </div>
{% endblock %}
