{% block body %}
    <div class="top-nav">
        <div class="adress">
            <a href="tel:+33102030405"><i class="fa-solid fa-phone"></i> Appeler la société xxx </a>
            <a href="mailto:xxxx@xx.xx"><i class="fa-regular fa-envelope"></i> Envoyer un email </a>
            <a href="https://www.google.com/maps/place/Paris/@48.85877,2.2069522,11z/data=!3m1!4b1!4m6!3m5!1s0x47e66e1f06e2b70f:0x40b82c3688c9460!8m2!3d48.856614!4d2.3522219!16zL20vMDVxdGo"><i class="fa-solid fa-location-dot"></i> Adress </a>
        </div>
        <div class="account">
            <a href="#"> Login </a>
            <span>-</span>
            <a href="#"> S'enregistrer </a>
            <span>-</span>
            <a href="#"><i class="fa-solid fa-user-lock"></i> Mon Compte </a>
        </div>
    </div>
    <div class="search-bar">
        <div class="middle">
            <div class="title">
                <h1>FDEV<span>.</span></h1>
            </div>
            <div class="searchBar">
                <select name="pets" id="categ-select">
                    <option value="">Toutes les catégories</option>
                    {% for categ in categs %}
                        <option value="{{ categ.id }}">{{ categ.name }}</option>
                    {% endfor %}
                </select>

                <form class="example" method="post">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="panier">
                <a href="#"><i class="fa-sharp fa-solid fa-cart-shopping"></i> </a>
            </div>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="{{ path('app_home') }}">Home</a></li>
            <li><a href="#">Catégories</a></li>
            <li><a href="#">Accesoire</a></li>
            <li><a href="#">Ordinateur</a></li>
        </ul>

    </nav>
{% endblock %}